<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.blogspringboot.mapper.ArticleMapper" >

    <resultMap id="ArticleMap" type="Article" >
        <result column="id" property="id" />
        <result column="category" property="category" />
        <result column="create_date" property="create_date" />
        <result column="update_date" property="update_date" />
        <result column="title" property="title" />
        <result column="body" property="body" />
    </resultMap>

    <insert id="insert" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO blog_article
        (category, create_date, update_date, title, body)
        VALUES
        (#{category}, NOW(), NOW(), #{title}, #{body})
    </insert>

    <delete id="delete" parameterType="Long" >
        DELETE FROM blog_article
        WHERE id = #{id}
    </delete>

    <update id="update" parameterType="Article" >
        UPDATE blog_article
        SET category = #{category}, update_date = NOW(), title = #{title}, body = #{body}
        WHERE id = #{id}
    </update>

    <select id="getOne" parameterType="Long" resultMap="ArticleMap">
        SELECT id, category, create_date, update_date, title, body
        FROM blog_article
        WHERE id = #{id}
    </select>

    <select id="getAll" parameterType="com.example.blogspringboot.common.param.PageParam" resultMap="ArticleMap">
        SELECT id, category, create_date, update_date, title, body
        FROM blog_article
        order by create_date desc
        limit #{begin}, #{size}
    </select>

    <select id="getCategory" parameterType="com.example.blogspringboot.common.param.PageParam" resultMap="ArticleMap">
        SELECT id, category, create_date, update_date, title, body
        FROM blog_article
        WHERE category = #{category}
        order by create_date desc
        limit #{begin}, #{size}
    </select>

    <select id="getTag" parameterType="com.example.blogspringboot.common.param.PageParam" resultMap="ArticleMap">
        SELECT id, category, create_date, update_date, title, body
        FROM blog_article
        WHERE id in
        <foreach collection="id" item="i" index="index" open="(" close=")" separator=",">
            #{i}
        </foreach>
        order by create_date desc
        limit #{begin}, #{size}
    </select>

</mapper>