<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.example.blogspringboot.mapper.TagMapper" >

    <resultMap id="TagMap" type="Tag" >
        <result column="id" property="id" />
        <result column="tag" property="tag" />
    </resultMap>

    <insert id="insert" parameterType="String" >
        INSERT INTO blog_tag
        (tag)
        VALUES
        (#{tag})
    </insert>

    <delete id="delete" parameterType="Long" >
        DELETE FROM blog_tag
        WHERE id = #{id}
    </delete>

    <select id="getOne" parameterType="String" resultMap="TagMap">
        SELECT id, tag
        FROM blog_tag
        WHERE tag = #{tag}
    </select>

    <select id="getAll" resultMap="TagMap">
        SELECT id, tag
        FROM blog_tag
    </select>

</mapper>